.stepwizard-step p {
  margin-top: 10px;
  margin-left: -2em;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}

.stepwizard-row:before {
  top: 20px;
  bottom: 0;
  left: 10%;
  position: absolute;
  content: " ";
  width: 65%;
  height: 1px;
  background-color: #BBC7CD;
}

.stepwizard-step {
  display: table-cell;
  padding-left: 30px;
  text-align: left;
  /* position: relative; */
}

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}


@media screen and (max-width: 992px) {
  #top-steper-txt {
    width: 80% !important;
  }
  .stepwizard {
    width: 100% !important;
  }
  .stepwizard-row:before {
    width: 70%;
  }
}
@media screen and (max-width: 740px) {
  #top-steper-txt {
    width: 90% !important;
  }
  .stepwizard {
    width: 100% !important;
  }
  .stepwizard-row:before {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  #top-steper-txt {
    width: 90% !important;
  }
  .stepwizard {
    width: 100% !important;
  }
  .stepwizard-row:before {
    width: 70%;
  }
}
@media screen and (max-width: 320px) {
  #top-steper-txt {
    width: 100% !important;
  }
  .stepwizard {
    width: 100% !important;
    margin-left: -1em !important;
  }
  .stepwizard p {
    margin-left: 0.1em;
  }
  .stepwizard-row:before {
    width: 70%;
  }
}